redis/iac/.terraform
redis/iac/.terraform.lock.hcl
redis/iac/terraform.tfstate
redis/iac/terraform.tfstate.backup
redis/iac/terraform.tfvars
prometheous/iac/.terraform
prometheous/iac/.terraform.lock.hcl
prometheous/iac/terraform.tfstate
prometheous/iac/terraform.tfvars
mongodb/iac/.terraform
mongodb/iac/.terraform.lock.hcl
mongodb/iac/terraform.tfstate
mongodb/iac/terraform.tfstate.backup
mongodb/iac/terraform.tfvars
prometheous/iac/terraform.tfstate.backup
prometheous/prometheus.yml